h1 {
  text-align: center;
  background-image: url(Pictures/Website\ background/channel-banner-gaming-260nw-2267238593.webp);
  background-position: center;
}

main h3 {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: flex;
}

main h3:hover {
  color: rgb(203, 5, 5);
}

h3 {
  text-shadow: 3px 3px 5px rgb(6, 6, 241), 3px 3px 5px mediumorchid;
}

body {
  background-image: url(Pictures/Website\ background/5073414.jpg);
}

.navbar ul {
  color: rgb(61, 64, 228);
  text-align: center;
  list-style-type: none;
  padding: 0%;
  margin: 15px;
  overflow: hidden;
  display: content;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px;
  display: flex;
}

.navbar a:hover {
  color: darkviolet;
}

.navbar li {
  float: left;
}

main h2 {
  text-decoration: none;
  padding: 15px;
  display: flex;
}

main h2:hover {
  color: blueviolet;
}
main h3 {
  text-align: center;
}

main h4 {
  text-align: right;
  text-decoration: none;
}

main h4:hover {
  color: white;
}

h4 {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #e60099, 0 0 30px #e60099,
      0 0 40px #e60099, 0 0 50px #e60099, 0 0 60px #e60099, 0 0 60px #e60099,
      0 0 70px #e60099, 0 0 80px #e60099;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff66cc,
      0 0 50px #ff66cc, 0 0 50px #ff66cc, 0 0 70px #ff66cc, 0 0 80px #ff66cc;
  }
}
.navbar {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #e60099, 0 0 30px #e60099,
      0 0 40px #e60099, 0 0 50px #e60099, 0 0 60px #e60099, 0 0 60px #e60099,
      0 0 70px #e60099, 0 0 80px #e60099;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff66cc,
      0 0 50px #ff66cc, 0 0 50px #ff66cc, 0 0 70px #ff66cc, 0 0 80px #ff66cc;
  }
}
